


body {
    background: black;
    color: white;

  }
.parent {
   padding-left: 0px!important;
  }
 .navbar-nav-menu{
   display: none;
   }
 .div{
  width: 40%;
  background-color: $color;
  height:auto;
  padding-top: 10px;
  min-height: 40px;
  padding-bottom: 10px;
}
 .inner li {
  color: $primary-color;
  display: inline-block;
  background: black;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px;
  border-radius: 2px;
 }
